Backend/2. Insertar Datos Vectorial.json
{
  "name": "2. Insertar Datos Vectorial",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        1520
      ],
      "id": "8c200c96-0430-442e-b0d7-8a52aab866f0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        768,
        768
      ],
      "id": "af34dfcc-92d6-4bdc-bdfb-477863f0e304",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IhScgTMuyEgYOABP",
          "name": "Supabase account JDQP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ba9e7f8-43e0-4958-8c3c-bbcb7d85e39a",
              "leftValue": "={{ $json.metadata.tipo_contenido }}",
              "rightValue": "=competencias",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "4702f130-93de-4d88-bddc-80b699271cfc",
              "leftValue": "={{ $json.metadata.tipo_contenido }}",
              "rightValue": "resultados_aprendizaje",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d27363b7-6788-414b-bc71-40b22a3dcb86",
              "leftValue": "={{ $json.metadata.tipo_contenido }}",
              "rightValue": "actividades_estudiante",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5518ee37-cbd7-4f46-a5b0-e90116db968f",
              "leftValue": "={{ $json.metadata.tipo_contenido }}",
              "rightValue": "unidades_aprendizaje",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "85bf5d9c-32c7-4f97-a8d9-a91145e3405e",
              "leftValue": "={{ $json.metadata.tipo_contenido }}",
              "rightValue": "evaluacion",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        1232
      ],
      "id": "09e22930-11f3-4ae4-bbb7-56d472319eef",
      "name": "If Need Procesamiento1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        1488
      ],
      "id": "db457a79-f383-4031-b90e-3c4156196c97",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        976
      ],
      "id": "dbd61a48-c863-40e4-83e2-1204ca0262b9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "Eres un experto redactor académico especializado en convertir datos estructurados JSON en texto narrativo fluido y natural en español.\n\nTu tarea es:\n\n1. Leer y comprender el contenido del JSON que recibirás\n2. Convertir toda la información en un párrafo o varios párrafos en lenguaje natural\n3. Eliminar completamente cualquier símbolo técnico como llaves {}, corchetes [], comillas dobles \"\", dos puntos :, etc.\n4. Mantener TODA la información relevante sin perder detalles\n5. Usar un tono académico pero accesible, apropiado para estudiantes universitarios\n6. Organizar la información de forma lógica y coherente\n\nREGLAS IMPORTANTES:\n- NO incluyas metadatos técnicos como \"codigo\", \"id\", \"keys\" en el texto\n- NO uses formato JSON en tu respuesta\n- SÍ escribe en párrafos continuos sin listas estructuradas\n- SÍ mantén todos los nombres, descripciones y datos importantes\n- El texto debe ser apto para búsqueda semántica (rica en conceptos y términos clave)\n\nEJEMPLO DE TRANSFORMACIÓN:\nInput JSON: {\"resultados\":[{\"codigo\":\"RA1\",\"descripcion\":\"Aplicar métodos científicos\"}]}\nOutput deseado: \"Los estudiantes aplicarán métodos científicos para resolver problemas\"\n\nResponde ÚNICAMENTE con el texto convertido, sin explicaciones adicionales ni formato JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        1488
      ],
      "id": "07e6e19b-4fbf-4056-a05a-809afcd675c3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const metadata = $('Loop Over Items1').first().json.metadata;\nconst textoMejorado = $input.first().json.output;\n\nreturn {\n  json: {\n    text: textoMejorado,\n    metadata: metadata\n  }\n};\n\n// EXPLICACIÓN:\n// 1. $('Loop Over Items1').item.json - Accede al item ORIGINAL que está siendo procesado en esta iteración del loop (tiene text + metadata)\n// 2. $input.first().json.output - Obtiene el texto generado por el LLM (viene del nodo anterior)\n// 3. Construye un nuevo objeto que combina el texto mejorado del LLM con la metadata original\n// 4. El loop continúa y repite esto para cada uno de los 50 items\n// 5. Al finalizar el loop, tendrás 50 items completos con texto mejorado + metadata preservada\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1616
      ],
      "id": "68942342-c4e0-46f2-b26d-445bbd94cd34",
      "name": "Code to join new output and metadata1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Merge1').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "codigo_electiva",
                "value": "={{ $('Merge1').item.json.metadata.codigo_electiva }}"
              },
              {
                "name": "nombre_electiva",
                "value": "={{ $('Merge1').item.json.metadata.nombre_electiva }}"
              },
              {
                "name": "creditos",
                "value": "={{ $('Merge1').item.json.metadata.creditos }}"
              },
              {
                "name": "modalidad",
                "value": "={{ $('Merge1').item.json.metadata.modalidad }}"
              },
              {
                "name": "departamento",
                "value": "={{ $('Merge1').item.json.metadata.departamento }}"
              },
              {
                "name": "=periodo_academico",
                "value": "={{ $('Merge1').item.json.metadata.periodo_academico }}"
              },
              {
                "name": "tipo_contenido",
                "value": "={{ $('Merge1').item.json.metadata.tipo_contenido }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        992
      ],
      "id": "381434cf-1c2b-4a4c-9833-cc8e3feb48bd",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 500000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        944,
        1200
      ],
      "id": "6a916bc3-3313-4837-97be-ef539414fd4b",
      "name": "Text Splitter (Passthrough)1"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// GENERAR CHUNKS POR ELECTIVA (Sin Evaluaciones)\n// Versión: Supabase adaptada - Sin JOINs\n// ============================================\n\nconst electivas = $input.all();\nconst batches = [];\n\nconsole.log(`=== PROCESANDO ${electivas.length} ELECTIVAS ===`);\n\nelectivas.forEach((electiva, index) => {\n  const e = electiva.json;\n  \n  const baseMetadata = {\n    codigo_electiva: e.codigo,\n    nombre_electiva: e.nombre,\n    creditos: e.creditos,\n    modalidad: e.modalidad,\n    departamento: e.departamento,\n    periodo_academico: e.periodo_academico\n  };\n  \n  // BATCH 1: Información General\n  batches.push({\n    json: {\n      text: `${e.nombre}. ${e.objetivo_general || ''} Modalidad: ${e.modalidad}. Créditos: ${e.creditos}.`,\n      metadata: {\n        ...baseMetadata,\n        tipo_contenido: 'info_general'\n      }\n    }\n  });\n  \n  // BATCH 2: Objetivo General\n  if (e.objetivo_general) {\n    batches.push({\n      json: {\n        text: e.objetivo_general,\n        metadata: {\n          ...baseMetadata,\n          tipo_contenido: 'objetivo_general'\n        }\n      }\n    });\n  }\n  \n  // BATCH 3: Metodología\n  if (e.metodologia) {\n    batches.push({\n      json: {\n        text: e.metodologia,\n        metadata: {\n          ...baseMetadata,\n          tipo_contenido: 'metodologia'\n        }\n      }\n    });\n  }\n  \n  // BATCH 4: Competencias (JSON → necesita procesamiento LLM)\n  if (e.competencias) {\n    batches.push({\n      json: {\n        text: JSON.stringify(e.competencias),\n        metadata: {\n          ...baseMetadata,\n          tipo_contenido: 'competencias'\n        }\n      }\n    });\n  }\n  \n  // BATCH 5: Resultados de Aprendizaje (JSON → necesita procesamiento LLM)\n  if (e.resultados_aprendizaje) {\n    batches.push({\n      json: {\n        text: JSON.stringify(e.resultados_aprendizaje),\n        metadata: {\n          ...baseMetadata,\n          tipo_contenido: 'resultados_aprendizaje'\n        }\n      }\n    });\n  }\n  \n  // BATCH 6: Actividades del Estudiante (JSON → necesita procesamiento LLM)\n  if (e.actividades_estudiante) {\n    batches.push({\n      json: {\n        text: JSON.stringify(e.actividades_estudiante),\n        metadata: {\n          ...baseMetadata,\n          tipo_contenido: 'actividades_estudiante'\n        }\n      }\n    });\n  }\n  \n  // BATCH 7: Unidades de Aprendizaje (JSON → necesita procesamiento LLM)\n  if (e.unidades_aprendizaje) {\n    batches.push({\n      json: {\n        text: JSON.stringify(e.unidades_aprendizaje),\n        metadata: {\n          ...baseMetadata,\n          tipo_contenido: 'unidades_aprendizaje'\n        }\n      }\n    });\n  }\n\n  // BATCH 8: Evaluación\n  if (e.evaluaciones && e.evaluaciones.length > 0) {\n    batches.push({\n      json: {\n        text: JSON.stringify(e.evaluaciones),\n        metadata: {\n          ...baseMetadata,\n          tipo_contenido: 'evaluacion'\n        }\n      }\n    });\n  }\n});\n\nreturn batches;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        1232
      ],
      "id": "aeda149a-eeb9-4463-8df6-0013047c58dd",
      "name": "Generate chunks per electiva1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "electivas_final",
        "filters": {
          "conditions": [
            {
              "keyName": "codigo",
              "condition": "eq",
              "keyValue": "={{ $json.metadata.codigo_electiva }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "vectorizado",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        976
      ],
      "id": "0faddbc4-c74f-46c5-96dd-365b24422c37",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "IhScgTMuyEgYOABP",
          "name": "Supabase account JDQP"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        736,
        992
      ],
      "id": "d41ccb8e-5690-4982-b987-b01a29b47310",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "0InDqolzr7sDBOy0",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        1488
      ],
      "id": "730a3af2-adbf-4bef-a45c-71c4c585fb24",
      "name": "Wait",
      "webhookId": "acacddf9-2cf8-4f64-a96e-e6e986f34380"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        1712
      ],
      "id": "853660ee-7c0d-4e20-9ea0-0690a9a3a3a5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "x0tmhN1SdDxpCHy9",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        1712
      ],
      "id": "01704d6c-ace9-468c-ab03-f9d41898ba8f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "reIUgy2GlNgzAlDL",
          "name": "Google Gemini(PaLM) Api - JR"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "evaluacion_final",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -608,
        1520
      ],
      "id": "7d3945b5-c36a-47a5-93a1-511f7c678bd3",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "IhScgTMuyEgYOABP",
          "name": "Supabase account JDQP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const evaluaciones = $input.all().map(i => i.json);\n\n// Traer la electiva del nodo anterior\nconst electiva = $('Get many rows').first().json;\n\nreturn [{\n  json: {\n    ...electiva,\n    evaluaciones: evaluaciones.length > 0 ? evaluaciones : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        1232
      ],
      "id": "2e2449a1-1f10-41a4-acd1-a35ab77418eb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "electivas_final",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "vectorizado",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        1232
      ],
      "id": "e6d718ce-836e-4070-a7f2-c1a5fd7a4734",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "IhScgTMuyEgYOABP",
          "name": "Supabase account JDQP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const evaluaciones = $input.all().map(i => i.json);\n\n// Agrupar por electiva_nrc\nconst grouped = {};\nevaluaciones.forEach(ev => {\n  const nrc = ev.electiva_nrc;\n  if (!grouped[nrc]) grouped[nrc] = [];\n  grouped[nrc].push({\n    nombre: ev.nombre,\n    porcentaje: ev.porcentaje,\n    descripcion: ev.descripcion,\n    codigo_evaluacion: ev.codigo_evaluacion\n  });\n});\n\n// Devolver un item por NRC\nreturn Object.entries(grouped).map(([nrc, evals]) => ({\n  json: {\n    electiva_nrc: parseInt(nrc),\n    evaluaciones: evals\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        1520
      ],
      "id": "cc44251d-c146-4306-84a1-b18e2e3bce2b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst batches = [];\n\n// Traer electivas del primer nodo para cruzar metadata\nconst electivas = $('Get many rows').all().map(i => i.json);\n\nitems.forEach(item => {\n  const { electiva_nrc, evaluaciones } = item.json;\n  \n  // Buscar la electiva correspondiente por nrc\n  const electiva = electivas.find(e => e.nrc === electiva_nrc);\n  if (!electiva) return;\n\nbatches.push({\n    json: {\n      text: JSON.stringify(evaluaciones),\n      metadata: {\n        codigo_electiva: electiva.codigo,\n        nombre_electiva: electiva.nombre,\n        creditos: electiva.creditos,\n        modalidad: electiva.modalidad,\n        departamento: electiva.departamento,\n        periodo_academico: electiva.periodo_academico,\n        tipo_contenido: 'evaluacion'\n      }\n    }\n  });\n});\n\nreturn batches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        1520
      ],
      "id": "fc6b41ac-e994-4b8f-ba57-7a5f5b9e13d0",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Need Procesamiento1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code to join new output and metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code to join new output and metadata1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter (Passthrough)1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Generate chunks per electiva1": {
      "main": [
        [
          {
            "node": "If Need Procesamiento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59217b78-9428-4a04-8527-3ba13b15dc73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa9453c1c57ba2043fa71580e24e3f3069a4ec8d21b08fbf7dad6dcd8a317755"
  },
  "id": "RLXoPkBkAuDJtJYp",
  "tags": []
}