Backend/4. Insertar Datos Blog Vectorial.json
{
  "name": "Carga_Vectorial_Blog",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "electivas_final",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -576,
        160
      ],
      "id": "6adda1ac-1ef5-42d7-be61-6bf04b68d1ac",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "IhScgTMuyEgYOABP",
          "name": "Supabase account JDQP"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fDIEOkasPbhKKOsvle8Ni1s1zk85YvOMbnQbjEjJFsg",
          "mode": "list",
          "cachedResultName": "Blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fDIEOkasPbhKKOsvle8Ni1s1zk85YvOMbnQbjEjJFsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fDIEOkasPbhKKOsvle8Ni1s1zk85YvOMbnQbjEjJFsg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        -16
      ],
      "id": "40e345c8-fbf3-4014-85d0-70c1425b1400",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ezscXJQUocbxfTDI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        64
      ],
      "id": "bbeb4a46-0d7a-4b2d-9db0-fcd996177ad0",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// Usamos $input.all() para obtener todos los registros del nodo anterior\nreturn $input.all().map(item => {\n  const row = item.json;\n\n  // Concatenamos las descripciones largas en un solo bloque para la columna \"info\"\n  // Usamos la sintaxis de corchetes [''] porque los nombres del Excel tienen espacios y paréntesis\n  const info_completa = `\nOBJETIVO: ${row['Descripción del Objetivo Pedagógico (Min 1000 caracteres)'] || ''}\n\nACTIVIDAD: ${row['Descripción de la Actividad (Min 100 caracteres)'] || ''}\n\nDETALLES: ${row['Descripción de lo acontecido durante la actividad (Min 800 caracteres)'] || ''}\n\nLOGROS: ${row['Resultados y logros alcanzados (Min 100 caracteres)'] || ''}\n  `.trim();\n\n  // Devolvemos el objeto con los nombres de columna limpios para Supabase\n  return {\n      id: row['CODIGO_MATERIA'], \n      electiva_codigo: row['CODIGO_MATERIA'],\n      info: info_completa,\n      evidence_url: row['Evidencias Visuales y Testimonios (Fotos y/o Video)'],\n      blog_url: row['URL Blog']\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -16
      ],
      "id": "33a8e483-3b78-4d43-8d09-37ec9259f2b6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        304,
        336
      ],
      "id": "2a4b267f-eb13-4c3b-a52f-c5b8e0100244",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "IhScgTMuyEgYOABP",
          "name": "Supabase account JDQP"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Merge1').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "codigo_electiva",
                "value": "={{ $('Merge1').item.json.metadata.codigo_electiva }}"
              },
              {
                "name": "nombre_electiva",
                "value": "={{ $('Merge1').item.json.metadata.nombre_electiva }}"
              },
              {
                "name": "creditos",
                "value": "={{ $('Merge1').item.json.metadata.creditos }}"
              },
              {
                "name": "modalidad",
                "value": "={{ $('Merge1').item.json.metadata.modalidad }}"
              },
              {
                "name": "departamento",
                "value": "={{ $('Merge1').item.json.metadata.departamento }}"
              },
              {
                "name": "=periodo_academico",
                "value": "={{ $('Merge1').item.json.metadata.periodo_academico }}"
              },
              {
                "name": "tipo_contenido",
                "value": "={{ $('Merge1').item.json.metadata.tipo_contenido }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        560
      ],
      "id": "3c7adc93-208c-4c7f-9fd6-504ca4fd81ef",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "chunkSize": 500000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        784
      ],
      "id": "5f590d04-42ef-4b28-be51-cfdcd789bd7d",
      "name": "Text Splitter (Passthrough)2"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos los datos de los dos nodos anteriores (del Merge)\n// Input 1: Datos del Blog (procesados por Code in JavaScript1)\n// Input 2: Datos de Electivas (de Supabase)\nconst blogs = $input.all()[0].json.data || $items(\"Code in JavaScript1\"); \nconst electivas = $input.all()[1]?.json.data || $items(\"Get many rows\");\n\n// NOTA: En n8n moderno, $input.all() en un nodo Merge suele traer todo mezclado.\n// Para ir a la segura, usamos $items() refiriéndonos al nombre del nodo anterior.\nconst blogsData = $items(\"Code in JavaScript1\").map(item => item.json);\nconst electivasData = $items(\"Get many rows\").map(item => item.json);\n\nconst resultados = [];\n\n// 2. Recorremos cada entrada del blog\nfor (const blog of blogsData) {\n  \n  // 3. Buscamos la electiva correspondiente en el array de electivas\n  // La llave común es el código. En el blog se llama 'electiva_codigo' y en electivas 'codigo'.\n  // Usamos trim() para evitar errores por espacios en blanco invisibles.\n  const electivaMatch = electivasData.find(e => e.codigo.trim() === blog.electiva_codigo.trim());\n\n  if (electivaMatch) {\n    // 4. Si hay match, construimos el objeto enriquecido\n    \n    // Preparamos la metadata base (igual que en tus otros chunks)\n    const metadata = {\n      codigo_electiva: electivaMatch.codigo,\n      nombre_electiva: electivaMatch.nombre,\n      creditos: electivaMatch.creditos,\n      modalidad: electivaMatch.modalidad,\n      departamento: electivaMatch.departamento,\n      periodo_academico: electivaMatch.periodo_academico,\n      \n      // Agregamos los campos específicos de este tipo de chunk\n      tipo_contenido: 'experiencia_real', // <--- CLAVE para tu filtro\n    };\n\n    // 5. Creamos el objeto final para el Vector Store\n    resultados.push({\n      json: {\n        text: blog.info, // El texto largo concatenado del blog\n        metadata: metadata\n      }\n    });\n  } else {\n    // Opcional: Loguear si algún blog no encontró su electiva (por si hay errores de código)\n    console.log(`No se encontró electiva para el código: ${blog.electiva_codigo}`);\n  }\n}\n\nreturn resultados;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        64
      ],
      "id": "832910a9-5eda-49bc-b279-1f8acd5fa665",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        560
      ],
      "id": "084a155f-aef1-4de9-9dc8-179c27fec955",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "DCnMmnAMpMX72fFn",
          "name": "Google Gemini(PaLM) Api account TOMAS"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter (Passthrough)2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1302a99e-cbc4-485c-bc83-92735f070ec0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa9453c1c57ba2043fa71580e24e3f3069a4ec8d21b08fbf7dad6dcd8a317755"
  },
  "id": "jgh0BTyVPTQIG8Yw",
  "tags": []
}